/* General */
*{
    font-family: "Lato", sans-serif;
}

/* Colors */
.bg-primary-color{
    background-color: #FFF;
}

.bg-secondary-color{
    background-color: #ECE8EA;
}

.bg-dark-color{
    background-color: #050505;
}

.primary-color{
    color: #050505;
}

.secondary-color{
    color: #7A7A7A;
}

/* Navbar */
#navbar{
    border-bottom: solid 1px #7A7A7A;
}

#navbar a:hover{
    color: #7A7A7A;
}

#navbar a.active{
    border-bottom: solid 1px #050505;
}

.navbar-brand{
    display: flex;
}

.navbar-brand img{
    width: 40px;
}

.navbar-brand span{
    font-weight: 700;
    font-size: 1.5em;
    margin-left: 0.5em;
}

#navbar-items .navbar-nav{
    display: flex;
    justify-content: center;
    width: 100%;
}

#navbar-items .nav-item{
    margin: 0 1em;
}
